/* aplicarle un poco de estilo para que quede el menu en horizontal, ya que por defecto las listas son verticales. Se consigue fácil, agregandole a los elementos de la lista el atributo de flotante
 */
ul#menu-horizontal li {
    float: left;
    display: inline;
    position: relative;}

/* ocultar el submenú, ya que no quiero que aparezca aún, solo se tiene que mostrar cuando pase el ratón por encima del botón que tiene submenu.*/

ul#menu-horizontal ul {
    display: none;
    position: relative;
    top: 24;
    left:0;
    margin:0;
    padding:0;
    background:#FFFFFF;
    }
    
    ul#menu-horizontal ul li {
    display: block !important;
    }
    
    ul#menu-horizontal li:hover ul{
    display: none;
    }
    
    ul#menu-horizontal li:hover ul{
    display: block;
    }
  /*  acerlo bonito. Para ello aplicamos un poco de estilo */
#menu-horizontal {
    width:500px;
    margin:0 auto;
    }
    
    #menu-horizontal li {
    margin:0 1px;
    width:98px;
    min-height:19px;
    text-align:center;
    background:#BBB;
    list-style:none;
    padding:2px 0;
    }
    
    /* y otro poquito por aquí.. */
    
    #menu-horizontal li:hover {
    background:#C5014F;
    }
    
    #menu-horizontal li a {
    font:bold 11px Arial, Helvetica, sans-serif;
    color:#FFF;
    text-decoration:none;
    }
    
    #menu-horizontal li ul li{
    float:none;
    width:98px;
    margin:1px 0;
    }

